{% extends "base.html.twig" %}

{% block body %}
	{% for contact in contacts %}
		<article class="row align-items-start">
			<h2 class="text-center">{{ contact.motif.title }}</h2>
			<div class="metadata">Ecrit par
				{{ contact.civilite.genre }}
				{{ contact.nom }}
				{{ contact.prenom }}
				<br>
				<strong class="text-success">e-mail :</strong>
				{{ contact.eMail }}
			</div>
			<div class="content">
				<h3>Message:</h3>
				<div class="alert alert-warning" role="alert">
					<p>{{ contact.content }}</p>
				</div>

				<div class="metadata">le
					{{ contact.createdAt | date('d/m/Y à H:i') }}
				</div>
				<a href="{{ path('contact_show', {'id': contact.id}) }}" class="btn btn-primary">Lire la suite</a>
				<a href="{{ path('contact_remove', {'id': contact.id}) }}" class="btn btn-danger">Supprimer</a>

			</div>
		</article>
		<hr>
	{% endfor %}

{% endblock %}
