{% extends "base.html.twig" %}

{% block body %}
	<h1>Contact reçus</h1>
	
	<article class="row align-items-start">
		<h2>{{ contact.motif.title }}</h2>
		<div class="metadata">Ecrit par
			{{ contact.civilite.genre }}
			{{ contact.nom }}
			{{ contact.prenom }}
			<br>
			<strong class="text-success">e-mail :</strong>
			{{ contact.eMail }}
			<br>
			<strong class="text-success">tél :</strong>
			{{ contact.telephone }}
		</div>
		<div class="content">
			<h3>Message:</h3>
			<div class="alert alert-warning" role="alert">
				<p>{{ contact.content }}</p>
			</div>
			<!-- Update visible uniquement si on est pas connecter -->
			{% if not app.user %}
			<a href="{{ path('contact_edit', {'id': contact.id}) }}" class="btn btn-primary">Modifier</a>				
			{% endif %}
			<!-- Delete visible uniquement si on est connecter -->
			{% if app.user %}				
			<a href="{{ path('contact_remove', {'id': contact.id}) }}" class="btn btn-danger">Supprimer</a>
			{% endif %}
	
		</div>
		<hr>
	
		<div class="metadata">le
			{{ contact.createdAt | date('d/m/Y à H:i') }}
		</div>
	</article>

{% endblock %}
