{% extends "base.html.twig" %}

{% block body %}
	{% form_theme formActualite 'bootstrap_4_layout.html.twig' %}


	<h1>
		{% if editMode %}
			Modification de l'actualité
		{% else %}
			Création d'une actualité !
		{% endif %}
	</h1>

	{{ form_start(formActualite) }}

	{{ form_row(formActualite.title) }}
	{{ form_row(formActualite.content) }}
	{{ form_row(formActualite.image) }}
	<br>
	<button type="submit" class="btn btn-primary">
		{% if editMode %}
			Modifier l'actualité
		{% else %}
			Enregistrer l'actualité
		{% endif %}
	</button>
	{{ form_end(formActualite) }}

{% endblock %}
